{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'produtos:display_produtos' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text">Produto</h2>
    <a href="{% url 'produtos:editar_produto' produto.id %}" style="position: absolute; right: 100px; top:80px;">
        <img src="{% static 'pacientes/imagens/editar-icon.png' %}" height="60" alt="">
    </a>
    <a href="#" class="opcao-deletar" data-modal-id="modal-{{ produto.id }}" style="position: absolute; right: 30px; top:80px;">
        <img src="{% static 'pacientes/imagens/excluir-icon.png' %}" height="60" alt="">
    </a>
</div>

<!-- MODAL CONFIRMACAO DE EXCLUSAO -->

<div class="modal-background" id="modal-{{ produto.id }}">
    <div class="modal-confirmar-delete">
        <h2 class="texto-modal">Deseja confirmar a exclusão?</h2>
        <div class="botoes-modal">
            <a href="{% url 'produtos:deletar_produto' produto.id %}" class="botao-confirmar">Confirmar</a>
            <a class="botao-cancelar">Cancelar</a>
        </div>
    </div>
</div>

<main>
    <!-- INFORMAÇÕES DO PRODUTO -->
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin: 30px 0;">
        <div class="paciente-infos-container">

            <div class="paciente-infos-subcontainer">
                
                <h4 class="campos-paciente campo-cpf">Nome: </h4>
                <h4 class="campos-paciente-dado">{{ produto.nome }}</h4>
                <h4 class="campos-paciente">Descrição: </h4>
                <h4 class="campos-paciente-dado">{{ produto.descricao }}</h4>
                <h4 class="campos-paciente">Preço Unitário: </h4>
                <h4 class="campos-paciente-dado">{{ produto.preco_unit }}</h4>

            </div>
                
            </div>

        </div>
    </div>
</main>

{% endblock content %}