{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'pacientes:display_pacientes' %}" class="return-button" style="position: static;"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text">Cadastro de paciente</h2>
</div>

<main>
    <form method="post" >
        {% csrf_token %}
            
        {% for field in form %}
            <label class="cadastro-label" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
            {{ field }}<br>
        {% endfor %}

        <button type="submit">SUBIMITE</button>


    </form>

</main>

{% endblock content %}
