{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'home:login' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text"><a href="{% url 'pacientes:display_pacientes' %}">PACIENTES</a></h2>
</div>

<main style="flex-direction: column;">
    <form action="{% url 'pacientes:search' %}" method="get" style="justify-content: center; display: flex;">
        <input class="pesquisar-pacientes" type="text" id="search" name="q" placeholder="Pesquisar Paciente...">
        <button type="submit" class="pesquisar-button">
            <img src="{% static 'pacientes/imagens/pesquisar-icon.png' %}" height="40" alt="">
        </button>
    </form>
    
    <a class="add-paciente-button" href="{% url 'pacientes:cadastro_paciente' %}">
        Adicionar Paciente
    </a>

    <div class="mostrar-pacientes-container">
        {% for paciente in pacientes %}
        <div class="paciente-exibido">
            <h4 style="font-weight: 500;">{{ paciente.nome }}</h4>
            <div class="icones-paciente">
                <a href="{% url 'pacientes:infos' paciente.cpf %}" style="margin: 0 3px;">
                    <img height="20" src="{% static 'pacientes/imagens/editar-icon.png' %}" alt="">
                </a>
                <a href="{% url 'pacientes:infos' paciente.cpf %}" style="margin: 0 3px;">
                    <img height="20" src="{% static 'pacientes/imagens/ver-icon.png' %}" alt="">
                </a>
                <a href="{% url 'pacientes:infos' paciente.cpf %}" style="margin: 0 3px;">
                    <img height="20" src="{% static 'pacientes/imagens/excluir-icon.png' %}" alt="">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}