{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'home:login' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text"><a href="{% url 'pacientes:display_pacientes' %}">PACIENTES</a></h2>
</div>

<main style="flex-direction: column;">
    <form action="{% url 'pacientes:search' %}" method="get" style="text-align: center;">
        <input class="pesquisar-pacientes" type="text" id="search" name="q" placeholder="Pesquisar Paciente...">
    </form>
    
    <button class="add-paciente-button">
        Adicionar Paciente
    </button>

    <div class="mostrar-pacientes-container">
        {% for paciente in pacientes %}
        <h4 class="paciente-exibido">{{ paciente.nome }}</h4>
        {% endfor %}
    </div>
</main>

{% endblock content %}