{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'pacientes:display_pacientes' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text">PACIENTE</h2>
    <a href="" style="position: absolute; right: 100px; top:80px;">
        <img src="{% static 'pacientes/imagens/editar-icon.png' %}" height="60" alt="">
    </a>
    <a href="" style="position: absolute; right: 30px; top:80px;">
        <img src="{% static 'pacientes/imagens/excluir-icon.png' %}" height="60" alt="">
    </a>
</div>

<main>
    <div style="display: flex;">
        <img src="{% static 'home/imagens/paciente-icon.png' %}" alt="">
        <div>
            <h4>Nome: {{ paciente.nome }}</h4>
            <h4>Nome: {{ idade_paciente }}</h4>
            <h4>Nome: {{ endereco_paciente }}</h4>
        </div>
    </div>
</main>
{% endblock content %}