{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'pacientes:display_pacientes' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text">Paciente {{paciente.nome }}</h2>
    <a href="{% url 'pacientes:editar_paciente' paciente.cpf %}" style="position: absolute; right: 100px; top:80px;">
        <img src="{% static 'pacientes/imagens/editar-icon.png' %}" height="60" alt="">
    </a>
    <a href="{% url 'pacientes:deletar_paciente' paciente.cpf %}" style="position: absolute; right: 30px; top:80px;">
        <img src="{% static 'pacientes/imagens/excluir-icon.png' %}" height="60" alt="">
    </a>
</div>

<main>
    <!-- INFORMAÇÕES DO PACIENTE -->
    <div style="display: flex; justify-content: center; width: 100%; margin: 30px 0;">
        {% comment %} <img src="{% static 'home/imagens/paciente-icon.png' %}" alt="" height="150"> {% endcomment %}
        <div class="paciente-infos-container">
            <div class="paciente-infos-subcontainer">
                <h4 class="campos-paciente">Nome: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.nome }}</h4>
                <h4 class="campos-paciente">CPF: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.cpf }}</h4>
                <h4 class="campos-paciente">RG: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.rg }}</h4>
            </div>

            <div class="paciente-infos-subcontainer">
                <h4 class="campos-paciente">Data de nascimento: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.data_nascimento }}</h4>
                {% if paciente.rua %}
                    <h4 class="campos-paciente">Rua: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.rua }}</h4>
                {% elif  %}
                    <h4 class="campos-paciente">Rua: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.rua }}</h4>
                {% endif %}
                {% if paciente.bairro %}
                <h4 class="campos-paciente">Bairro: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.bairro }}</h4>
                {% endif %}
            </div>

            <div class="paciente-infos-subcontainer">
                {% if paciente.numero %}
                <h4 class="campos-paciente">Número: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.numero }}</h4>
                {% endif %}
                {% if paciente.complemento %}
                    <h4 class="campos-paciente">Complemento: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.complemento }}</h4>
                {% endif %}
                {% if paciente.cep %}
                <h4 class="campos-paciente">CEP: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.cep }}</h4>
                {% endif %}

            </div>

            <div class="paciente-infos-subcontainer">
                {% if paciente.ponto_referencia %}
                    <h4 class="campos-paciente">Ponto de Referência: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.ponto_referencia }}</h4>
                {% endif %}
                {% if paciente.nome_mae %}
                    <h4 class="campos-paciente">Nome da Mãe: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.nome_mae }}</h4>
                {% endif %}
                {% if paciente.nome_pai %}
                    <h4 class="campos-paciente">Nome do Pai: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.nome_pai }}</h4>
                {% endif %}
                <h4 class="campos-paciente">Telefone</h4>
                <h4 class="campos-paciente-dado">{{ paciente.telefone }}</h4>
                
            </div>

        </div>
    </div>

    <!-- PAGAMENTOS - FREQUENCIAS - OBSERVAÇÕES -->
</main>

<div style="display: flex; justify-content: space-around; width: 100%; margin-top: 40px;">
    <div class="demais-infos">
        <h4 class="demais-infos-titulo">PAGAMENTOS</h4>
        <p class="demais-infos-texto">Pagamentos das sessões: OK!</p>
    </div>
    <div class="demais-infos">
        <h4 class="demais-infos-titulo">FREQUÊNCIA</h4>
        <p class="demais-infos-texto">Frequencia do(a) paciente: OK!</p>
    </div>
    <div class="demais-infos">
        <h4 class="demais-infos-titulo">OBSERVAÇÕES</h4>
        <p class="demais-infos-texto">Faltou dinheiro pra implementar isso aqui</p>
    </div>
</div>
{% endblock content %}