{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'pacientes:display_pacientes' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text">Paciente {{paciente.nome }}</h2>
    <a href="{% url 'pacientes:editar_paciente' paciente.id %}" style="position: absolute; right: 100px; top:80px;">
        <img src="{% static 'pacientes/imagens/editar-icon.png' %}" height="60" alt="">
    </a>
    <a href="#" class="opcao-deletar" style="position: absolute; right: 30px; top:80px;">
        <img src="{% static 'pacientes/imagens/excluir-icon.png' %}" height="60" alt="">
    </a>
</div>

<!-- MODAL CONFIRMACAO DE EXCLUSAO -->

<div class="modal-background">
    <div class="modal-confirmar-delete">
        <h2 class="texto-modal">Deseja confirmar a exclusão?</h2>
        <div class="botoes-modal">
            <a href="{% url 'pacientes:deletar_paciente' paciente.id %}" class="botao-confirmar" id="botaoConfirmar">Confirmar</a>
            <a class="botao-cancelar" id="botaoCancelar">Cancelar</a>
        </div>
    </div>
</div>

<main>
    <!-- INFORMAÇÕES DO PACIENTE -->
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin: 30px 0;">
        <img src="{% static 'home/imagens/paciente-icon.png' %}" alt="" height="150">
        <div class="paciente-infos-container">

            <div class="paciente-infos-subcontainer">
                
                <h4 class="campos-paciente campo-cpf">CPF: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.cpf|slice:"0:3" }}.{{ paciente.cpf|slice:"3:6" }}.{{ paciente.cpf|slice:"6:9" }}-{{ paciente.cpf|slice:"9:11" }}</h4>
                <h4 class="campos-paciente">RG: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.rg| slice:"0:2" }}.{{ paciente.rg| slice:"2:5" }}.{{ paciente.rg| slice:"5:8" }}-{{ paciente.rg| slice:"8:" }}</h4>
                <h4 class="campos-paciente">Data Nascimento: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.data_nascimento | date:"d/m/Y" }}</h4>

            </div>

            <div class="paciente-infos-subcontainer">

                <h4 class="campos-paciente">Rua: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.rua }}</h4>

                <h4 class="campos-paciente">Bairro: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.bairro }}</h4>

                <h4 class="campos-paciente">Número: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.numero }}</h4>

            </div>

            <div class="paciente-infos-subcontainer">

                {% if paciente.complemento %}
                    <h4 class="campos-paciente">Complemento: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.complemento }}</h4>
                {% else  %}
                    <h4 class="campos-paciente">Complemento: </h4>
                    <h4 class="campos-paciente-dado">Não informado...</h4>
                {% endif %}

                <h4 class="campos-paciente">CEP: </h4>
                <h4 class="campos-paciente-dado">{{ paciente.cep | slice:"0:5" }}-{{ paciente.cep | slice:"5:" }}</h4>

                {% if paciente.ponto_referencia %}
                    <h4 class="campos-paciente">Ponto Referência: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.ponto_referencia }}</h4>
                {% else  %}
                    <h4 class="campos-paciente">Ponto Referência: </h4>
                    <h4 class="campos-paciente-dado">Não informado...</h4>
                {% endif %}

            </div>

            <div class="paciente-infos-subcontainer">

                {% if paciente.nome_mae %}
                    <h4 class="campos-paciente">Nome da Mãe: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.nome_mae }}</h4>
                {% else  %}
                    <h4 class="campos-paciente">Nome da Mãe: </h4>
                    <h4 class="campos-paciente-dado">Não informado...</h4>
                {% endif %}

                {% if paciente.nome_pai %}
                    <h4 class="campos-paciente">Nome do Pai: </h4>
                    <h4 class="campos-paciente-dado">{{ paciente.nome_pai }}</h4>
                {% else  %}
                    <h4 class="campos-paciente">Nome do Pai: </h4>
                    <h4 class="campos-paciente-dado">Não informado...</h4>
                {% endif %}

                <h4 class="campos-paciente">Telefone</h4>
                <h4 class="campos-paciente-dado">{{ paciente.telefone }}</h4>
                
            </div>

        </div>
    </div>
</main>

{% endblock content %}