{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="sliced">
        <h2 class="nome-empresa" style="color: #913132; font-family:'Lora'; font-weight: 400;">Salutar</h2>
        <h2 class="nome-empresa" style="color: #5b442f; font-family:'Lora'; font-weight: 400; display: flex; justify-content: center; padding-left: 100px;">Clinica <img style="width: 130px; height: 130px;" src="{% static 'home/imagens/leaves.png' %}" alt=""></h2>
        <h3 class="subtitle-home">Sistema de gerenciamento de informações</h3>
        <a href="{% url 'home:login' %}" class="login-button-home">LOGIN</a>
    </div>
    <div class="sliced">
        <img src="{% static 'home/imagens/candlestick.png' %}" alt="" style="width: 70%; height: 100%;">
    </div>
</main>
{% endblock content %}