{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Salutar</title>

    <!-- Fonte do nome da empresa -->
    {% include 'partials/font.html' %}

    <!-- CSS da pagina home -->
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">

</head>
<body>

    <!-- Barra de navegacao -->
    <nav class="nav-bar font-sans">
        <button class="botao-login">
            <a href="{% url 'login' %}">LOGIN</a>
        </button>

        <h2 class="titulo-central">PsychoSystem &copy; 2024</h2>

        <h4 class="data-atual">{{data_atual}}</h4>
    </nav>

    <!-- Continuacao da pagina -->
    <main>
        <div class="sliced">
            <h2 class="nome-empresa font-sans" style="color: #913132;">Salutar</h2>
            <h2 class="nome-empresa font-sans" style="color: #5b442f; display: flex; justify-content: center; padding-left: 100px;">Clinica <img style="width: 130px; height: 130px;" src="{% static 'home/imagens/leaves.png' %}" alt=""></h2>
            <h3 class="font-sans" style="font-weight: 500; margin: 30px 0 0 30px;">Sistema de gerenciamento de informações</h3>
        </div>
        <div class="sliced">
            <img src="{% static 'home/imagens/candlestick.png' %}" alt="" style="width: 70%; height: 100%;">
        </div>
    </main>
</body>
</html>