{% extends 'base.html' %}
{% load static %}

{% block content %}

<main style="display: inline;">
        
    <div style="display: flex;">
        <a href="{% url 'home:logout' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
        <h2 class="welcome-text">Olá, {{ nome_do_usuario }}!</h2>
    </div>

    <h5 class="click-text">clique em um dos módulos para acessar suas funções</h5>

    <div class="modules-container">
        <div class="module-card">
            <img src="{% static 'home/imagens/produto-icon.png' %}" height="120" alt="">
            <a href="{% url 'produtos:display_produtos' %}" class="module-card-title">PRODUTO</a>
            <p class="module-card-description">
                Gerenciamento dos produtos cadastrados.
            </p>
        </div>
        <div class="module-card">
            <img src="{% static 'home/imagens/estoque-icon.png' %}" height="120" alt="">
            <a href="#" class="module-card-title">ESTOQUE</a>
            <p class="module-card-description">
                Gerenciamento do estoque de produtos.
            </p>
        </div>
        <div class="module-card">
            <img src="{% static 'home/imagens/atendimento-icon.png' %}" height="120" alt="">
            <a href="#" class="module-card-title">ATENDIMENTOS</a>
            <p class="module-card-description">
                Gerenciamento dos atendimentos marcados.
            </p>
        </div>
    </div>
    <div class="modules-container">
        <div class="module-card">
            <img src="{% static 'home/imagens/paciente-icon.png' %}" height="120" alt="">
            <a href="{% url 'pacientes:display_pacientes' %}" class="module-card-title">PACIENTES</a>
            <p class="module-card-description">
                Gerenciamento dos pacientes consultados.
            </p>
        </div>
        <div class="module-card">
            <img src="{% static 'home/imagens/funcionario-icon.png' %}" height="120" alt="">
            <a href="{% url 'funcionario:display_funcionarios' %}" class="module-card-title">FUNCIONÁRIOS</a>
            <p class="module-card-description">
                Gerenciamento dos funcionários cadastrados.
            </p>
        </div>
        <div class="module-card">
            <img src="{% static 'home/imagens/medico-icon.png' %}" height="120" alt="">
            <a href="#" class="module-card-title">MÉDICOS</a>
            <p class="module-card-description">
                Gerenciamento dos médicos em trabalho.
            </p>
        </div>
    </div>
</main>

{% endblock content %}