{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'home:navegacao' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text"><a href="{% url 'funcionario:display_funcionarios' %}">FUNCIONÁRIOS</a></h2>
</div>

<main style="flex-direction: column;">
    <form action="{% url 'funcionario:pesquisa_funcionario' %}" method="get" style="justify-content: center; display: flex;">
        <input class="pesquisar-pacientes" type="text" id="search" name="q" placeholder="Pesquisar Funcionário...">
        <button type="submit" class="pesquisar-button">
            <img src="{% static 'pacientes/imagens/pesquisar-icon.png' %}" height="40" alt="">
        </button>
    </form>
    
    <a class="add-paciente-button" href="{% url 'funcionario:cadastro_funcionario' %}">
        Cadastrar Funcionário
    </a>

    <div class="mostrar-pacientes-container">

        {% if funcionarios %}

        {% for funcionario in funcionarios %}
            <div class="paciente-exibido">
                <h4 style="font-weight: 500;">{{ funcionario.nome }}</h4>
                <div class="icones-paciente">
                    <a href="{% url 'funcionario:edicao_funcionario' funcionario.id %}" style="margin: 0 3px;">
                        <img height="20" src="{% static 'pacientes/imagens/editar-icon.png' %}" alt="">
                    </a>
                    <a href="{% url 'funcionario:visualizacao_funcionario' funcionario.id %}" style="margin: 0 3px;">
                        <img height="20" src="{% static 'pacientes/imagens/ver-icon.png' %}" alt="">
                    </a>
                    <a href="#" class="opcao-deletar" style="margin: 0 3px;" data-modal-id="modal-{{ funcionario.id }}">
                        <img height="20" src="{% static 'pacientes/imagens/excluir-icon.png' %}" alt="">
                    </a>
                    <div class="modal-background" id="modal-{{ funcionario.id }}">
                        <div class="modal-confirmar-delete">
                            <h2 class="texto-modal">Deseja confirmar a exclusão?</h2>
                            <div class="botoes-modal">
                                <a href="{% url 'funcionario:exclusao_funcionario' funcionario.id %}" class="botao-confirmar">Confirmar</a>
                                <a class="botao-cancelar">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

<!-- 
            {% for funcionario in funcionarios %}
            <div class="paciente-exibido">
                <h4 style="font-weight: 500;">{{ funcionario.nome }}</h4>
                <div class="icones-paciente">
                    <a href="{% url 'funcionario:edicao_funcionario' funcionario.id %}" style="margin: 0 3px;">
                        <img height="20" src="{% static 'pacientes/imagens/editar-icon.png' %}" alt="">
                    </a>
                    <a href="{% url 'funcionario:visualizacao_funcionario' funcionario.id %}" style="margin: 0 3px;">
                        <img height="20" src="{% static 'pacientes/imagens/ver-icon.png' %}" alt="">
                    </a>
                    <a href="#" class="opcao-deletar" style="margin: 0 3px;">
                        <img height="20" src="{% static 'pacientes/imagens/excluir-icon.png' %}" alt="">
                    </a>
                </div>
            </div>


            <div class="modal-background">
                <div class="modal-confirmar-delete">
                    <h2 class="texto-modal">Deseja confirmar a exclusão?</h2>
                    <div class="botoes-modal">
                        <a href="{% url 'funcionario:exclusao_funcionario' funcionario.id %}" class="botao-confirmar" id="botaoConfirmar">Confirmar</a>
                        <a class="botao-cancelar" id="botaoCancelar">Cancelar</a>
                    </div>
                </div>
            </div>
            {% endfor %} -->
        {% else %}
            <h4 style="font-weight: 500;">Nenhum funcionário cadastrado...</h4>
        {% endif %}
    </div>
</main>

{% endblock content %}


