{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="display: flex;">
    <a href="{% url 'funcionario:display_funcionarios' %}" class="return-button"><img src="{% static 'home/imagens/chevron-left.png' %}" alt=""></a>
    <h2 class="welcome-text">Funcionário {{ funcionario.nome }}</h2>
    <a href="{% url 'funcionario:edicao_funcionario' funcionario.id %}" style="position: absolute; right: 100px; top:80px;">
        <img src="{% static 'pacientes/imagens/editar-icon.png' %}" height="60" alt="">
    </a>
    <a href="#" class="opcao-deletar" style="position: absolute; right: 30px; top:80px;">
        <img src="{% static 'pacientes/imagens/excluir-icon.png' %}" height="60" alt="">
    </a>
</div>

<!-- MODAL CONFIRMACAO DE EXCLUSAO -->

<div class="modal-background">
    <div class="modal-confirmar-delete">
        <h2 class="texto-modal">Deseja confirmar a exclusão?</h2>
        <div class="botoes-modal">
            <a href="{% url 'funcionario:exclusao_funcionario' funcionario.id %}" class="botao-confirmar" id="botaoConfirmar">Confirmar</a>
            <a class="botao-cancelar" id="botaoCancelar">Cancelar</a>
        </div>
    </div>
</div>

<main>
    <!-- INFORMAÇÕES DO FUNCIONARIO -->
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin: 30px 0;">
        <img src="{% static 'home/imagens/paciente-icon.png' %}" alt="" height="150">
        <div class="paciente-infos-container">

            <div class="paciente-infos-subcontainer">
                
                <h4 class="campos-paciente campo-cpf">CPF: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.cpf|slice:"0:3" }}.{{ funcionario.cpf|slice:"3:6" }}.{{ funcionario.cpf|slice:"6:9" }}-{{ funcionario.cpf|slice:"9:11" }}</h4>
                
                <h4 class="campos-paciente">RG: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.rg| slice:"0:2" }}.{{ funcionario.rg| slice:"2:5" }}.{{ funcionario.rg| slice:"5:8" }}-{{ funcionario.rg| slice:"8:" }}</h4>
                
                <h4 class="campos-paciente">Carteira Trabalho: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.num_cart_trab }}</h4>

                <h4 class="campos-paciente">Cargo: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.cargo }}</h4>
            </div>

            <div class="paciente-infos-subcontainer">

                <h4 class="campos-paciente">Telefone: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.telefone }}</h4>

                <h4 class="campos-paciente">Data Nascimento: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.data_nascimento | date:"d/m/Y" }}</h4>

                <h4 class="campos-paciente">Rua: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.rua }}</h4>
    
                <h4 class="campos-paciente">Bairro: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.bairro }}</h4>
            </div>
            
            <div class="paciente-infos-subcontainer">
                
                <h4 class="campos-paciente">Número: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.numero }}</h4>

                {% if funcionario.complemento %}
                    <h4 class="campos-paciente">Complemento: </h4>
                    <h4 class="campos-paciente-dado">{{ funcionario.complemento }}</h4>
                {% else  %}
                    <h4 class="campos-paciente">Complemento: </h4>
                    <h4 class="campos-paciente-dado">Não informado...</h4>
                {% endif %}
    
                <h4 class="campos-paciente">CEP: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.cep | slice:"0:5" }}-{{ funcionario.cep | slice:"5:" }}</h4>
    
                {% if funcionario.ponto_referencia %}
                    <h4 class="campos-paciente">Ponto Referência: </h4>
                    <h4 class="campos-paciente-dado">{{ funcionario.ponto_referencia }}</h4>
                {% else  %}
                    <h4 class="campos-paciente">Ponto Referência: </h4>
                    <h4 class="campos-paciente-dado">Não informado....</h4>
                {% endif %}

            </div>
            
            <div class="paciente-infos-subcontainer">

                <h4 class="campos-paciente">Data Admissão: </h4>
                <h4 class="campos-paciente-dado">{{ funcionario.data_admissao | date:"d/m/Y" }}</h4>

            </div>

        </div>
    </div>
</main>
{% endblock content %}