*{
    margin: 0 ;
    padding: 0;
}

body{
    background-color: #f6e6e4;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;

}

a{
    text-decoration: none;
}

.return-button{
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    position: absolute;
}

.welcome-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #6a3d31;
    margin: 0 auto;
    margin-top: 20px;
}

.click-text{
    font-family: sans-serif;
    color: #999;
    font-weight: 500;
    font-size: 18px;
    width: 20%;
    margin: 1rem auto;
    text-align: center;
}

/* MODULOS */

.modules-container{
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}

.module-card{
    background-color: #fff;
    width: 20%;
    height: 13rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 6px solid #6a3d31;
}

.module-card img{
    margin-top: -120px;
    margin-bottom: 20px;
}

.module-card-title{
    font-family: sans-serif;
    color: #6a3d31;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.module-card-title:hover{
    color: #c58a79 !important;
    text-decoration: underline !important;
}

.module-card-description{
    width: 80%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}